Verify data in ICMP errors

RFC7252 section 4.2 outlines how ICMP errors should be vetted before cancelling submissions; this is currently not considered in aiocoap/transports/udp6.py.

Before implementing explicit checks, look up whether operating systems already do check the payload and maybe discard injected errors that don't have matching data anyway.