FETCH and Observe: Block1 not supported

[RFC8132 Section 2.4](https://tools.ietf.org/html/rfc8132#section-2.4) quietly introduced FETCH with observe, which brings an allowed combination of Block1 and Observe.

While aiocoap (as of the current OSCORE development branch) supports FETCH with Observe, Observe and Block1 are a special beast that needs some thinking through.

The test case in `tests/test_observe.py` to verify that this (doesn't) work is commented out because a test failing that hard jeopardizes the protocol garbage collection.

This was discussed in <https://mailarchive.ietf.org/arch/msg/core/YRa71-sXs20kkdjmL3lD7Q6FQyY>, and "just" needs implementing.